@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
body {
  background-color: #00253E;
  margin: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  width: fit-content;
  color: #008cf0;
  text-align: left;
  margin-top: 0;
  font-size: clamp(2.5rem, 8vw, 6.25rem);
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: #d9dcdd inset 0 -0.1125em 0;
}

.calculadora {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 45em; 
  margin: 2em auto; 
}

input#display {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  font-size: 5em;
  border-radius: 0.25em; 
  padding: 0.2em 0.5em;
  font-family: 'Jomhuria', cursive;
  color: #008cf0;
  background-color: #001021;
  border: none;
  outline: none;
  margin-bottom: 0.1em;
}

div#botoes {
  display: grid;
  grid-gap: 0.625em; 
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: minmax(4em, auto);
  padding: 2.5em; 
  border-radius: 1.25em; 
  background-color: #001021;
  box-sizing: border-box;
}

.botao {
  font-size: 3.125em; 
  border-radius: 0.4em;
  color: #008cf0;
  background-color: #001021;
  border: none;
  outline: none;
  transition: background-color 1s ease, transform 0.5s ease;
  padding: 0.5em 0;
}

.botao:hover {
  background-color: #008cf0;
  color: #001021;
  cursor: pointer;
}

button#igual {
  width: 100%;
}